@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #cccccc;
    --background-color: #1a1a2e; /* Warna biru tua dari gambar */
    --button-bg-color: transparent;
    --button-border-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

#preload {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(20, 30, 48);
    z-index: 9999;
}

#preload img {
    width: 400px;   /* Ubah sesuai kebutuhan */
    height: 400px;  /* Ubah sesuai kebutuhan */
    object-fit: contain;
}